---
import Update from "../../components/Update.astro";
import UpdateHeader from "../../components/UpdateHeader.astro";

import AppLayout from "../../layouts/AppLayout.astro";
import { supabase } from "../../lib/supabase";

// get the content from supabase
// TODO: Add pagination
const { data, error } = await supabase
  .from("updates")
  .select("*, projects(*, users(*))");
if (error) throw error;
// TODO: Handle empty return
---

<AppLayout title="Updates">
  <UpdateHeader />
  <div class="page-grid">
    <Update isBioShowing={true} />
  </div>
  {JSON.stringify(data)}
</AppLayout>
