---
import InteriorLayout from "../layouts/InteriorLayout.astro";
import { getCollection } from "astro:content";

// get all participants - from markdown files
const allFaqs = await getCollection("faqs");
---

<!-- TODO: Write Content and Style Page -->
<InteriorLayout title="About">
  <p>About this project</p>
  <p>Who are we? Amy, James, Brad, and Bekah</p>
  <p>Frequently Asked Questions</p>

  {
    allFaqs && (
      <ul>
        {allFaqs.map((faq) => (
          <li>
            {faq.data.question}
            <br />
            {faq.body}
          </li>
        ))}
      </ul>
    )
  }

  <p>Colophon / Tech Stack</p>
  <ul>
    <li>Astro</li>
    <li>Tailwind</li>
    <li>Supabase</li>

    <li>Why this set of technology?</li>
    <li>Font</li>
    <li>Color Palette</li>

    <li>Link out to an indepth blog post</li>
  </ul>
</InteriorLayout>
