---
import Banner from "../components/Banner.astro";
import LeaderboardListItem from "../components/LeaderboardListItem.astro";
import AppLayout from "../layouts/AppLayout.astro";
import { supabase } from "../lib/supabase";

const { data, error } = await supabase.rpc("project_update_count");
if (error) console.error(error);
console.log({ data });
---

<AppLayout>
  <Banner>
    <div class="page-grid">
      <div class="wrapper">
        <h1>Leaderboard</h1>
      </div>
    </div>
  </Banner>
  <div class="page-grid">
    <div class="col-start-3 col-span-6">
      <p
        class="text-battleshipGray font-sans text-lg leading-normal font-normal mb-10"
      >
        The only requirement to get on the leaderboard is to post a daily
        update. The point is not <em>what</em> you build, but getting in a habit
        of shipping daily. Small wins add up!
      </p>
      <div class="flex flex-col gap-12 mb-10">
        <!-- TODO: Dynamically display leaderbaard inforamtion -->
        <LeaderboardListItem avatar={{ alt: "Amy Dutton" }} />
        <LeaderboardListItem avatar={{ alt: "Amy Dutton" }} />
      </div>
    </div>
  </div>

  <div class="bg-yellow-400 text-black p-10">{JSON.stringify(data)}</div>
</AppLayout>
