---
import AppLayout from "../layouts/AppLayout.astro";
import Avatar from "../components/Avatar.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

// if the user is not logged in, they can't visit the "me" page
if (!accessToken || !refreshToken) {
  return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const email = data?.user?.email;
---

<AppLayout title="Me">
  <div>
    <Avatar alt="Amy Dutton" size="213px" />
    <h1>Amy Dutton</h1>
    <ul>
      <li>Nashville, TN</li>
      <li>lightspeedui.com</li>
      <li>GitHub</li>
      <li>@selfteachme</li>
    </ul>
  </div>

  <!-- PROJECT DETAILS -->
  <div></div>

  <!-- UPDATES -->
</AppLayout>
