---
import AppLayout from "../layouts/AppLayout.astro";
import Avatar from "../components/Avatar.astro";
import { supabase } from "../lib/supabase";
import ProfileHeader from "../components/ProfileHeader.astro";
import ProjectOverview from "../components/ProjectOverview.astro";
import Update from "../components/Update.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

// if the user is not logged in, they can't visit the "me" page
if (!accessToken || !refreshToken) {
  return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const id = data?.user?.id;

console.log({ id });

// get all of the data for the current user
// TDOO: Should get information for the current, logged in user
const result = await supabase
  .from("users")
  .select("*, projects(*, updates(*))")
  .eq("auth_id", id)
  .single();
if (result.error) throw error;
// TODO: Handle empty return
---

<!-- TODO: Add Update buttons to this page -->
<AppLayout title="Me">
  <ProfileHeader />
  <div class="page-grid gap-y-[80px]">
    <ProjectOverview />
    <Update />
    <Update />
  </div>

  <div class="w-full overflow-scroll bg-yellow-400 text-black p-10">
    {JSON.stringify(data)}
  </div>
</AppLayout>
