---
import AuthLayout from "../layouts/AuthLayout.astro";
import Arrow from "../components/Icons/Arrow.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

// if the user doesn't have any tokens set, then they can't reset their password
if (!accessToken && !refreshToken) {
  return redirect("/signin");
}
---

<!-- TODO: Hotwire the form -->
<AuthLayout title="Reset Password">
  <form action="/api/auth/reset" method="post" class="pt-3">
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="" />
    </div>
    <div class="field">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder=""
      />
    </div>
    <button type="submit" class="auth-button"
      >submit
      <Arrow />
    </button>
    <p class="text-center">
      Ready to <a
        href="/login"
        class="border-b-battleshipGray border-b-2 hover:text-springBud"
        >LOGIN?</a
      >
    </p>
  </form>
</AuthLayout>
