---
import AppLayout from "../layouts/AppLayout.astro";
import Avatar from "../components/Avatar.astro";
---

<AppLayout title="Updates">
  <div>
    <h1>Updates</h1>
  </div>

  <!-- PROJECT DETAILS -->
  <div></div>

  <!-- UPDATES -->
</AppLayout>
