---
import Avatar from "./Avatar.astro";
---

<div class="relative comment bg-licorice">
  <div class="absolute -left-[90px] -top-2"><Avatar size="56px" alt="A" /></div>
  <div class="">
    <div class="px-6 border-b-1 border-b-codGray text-sm py-3 byline">
      <strong><a href="#">Amy Dutton</a></strong> commented 10 hours ago
    </div>
    <div class="px-6 py-5">
      <p>
        This looks awesome! Keep up the great work. I can’t wait to see where it
        goes!
      </p>
      <p>
        This looks awesome! Keep up the great work. I can’t wait to see where it
        goes!
      </p>
    </div>
  </div>
</div>
