---
const currentYear = () => new Date().getFullYear();
---

<footer class="p-page text-neutral-500 flex justify-between">
  <div>
    Copyright &copy;{currentYear}
    <a href="https://ahhacreative.com" target="_blank" rel="noreffer"
      >Ah Ha Creative, LLC</a
    > All Rights Reserved.
  </div>
  <div>
    <a href="/legal/disclaimers">Disclaimers</a>{" "}.{" "}
    <a href="/legal/privacy">Privacy Policy</a>{" "}.{" "}
    <a href="/legal/terms">Terms and Conditions</a>
  </div>
</footer>
