---
import Arrow from "./Icons/Arrow.astro";
---

<form
  class="inline-block relative pb-[100px] newsletter kwes-form"
  action="https://kwesforms.com/api/foreign/forms/toyYcLrR9215nenXgNOe"
  method="POST"
>
  <div class="relative w-full md:w-[500px] text-left">
    <input
      type="email"
      placeholder="YOUR EMAIL"
      class="text-white text-2xl rounded-full border-[3px] border-white px-8 h-[68px] bg-black w-full pr-14"
      name="email"
      data-kw-rules="required|email"
    />
    <button
      class="absolute right-5 top-4 text-white hover:text-springBud transition-color duration-200 ease-in-out group/arrow"
      type="submit"
    >
      <div
        class="relative right-0 group-hover/arrow:-right-2 transition-all duration-200 ease-in-out"
      >
        <Arrow />
      </div>
      <div
        class="register hidden md:block text-left circle uppercase absolute -right-[257px] -top-[56px] rotate-[10deg] text-[32px] leading-none"
      >
        Register
        <br />
        for Free
      </div>
    </button>
  </div>
</form>
