---
import Avatar from "./Avatar.astro";
import ProfileDetails from "./ProfileDetails.astro";

const { user } = Astro.props;
---

<div class="page-grid content-start gap-y-14">
  <!-- profile details -->
  <div class="col-start-2 col-span-3 text-center bg-no-repeat">
    <div class="relative -top-[50px]">
      <div class="absolute -left-10 -top-6">
        <img src="/images/arrow--profile.svg" alt="hand drawn arrow" />
      </div>
      <Avatar
        size="215px"
        alt={user.name}
        src={user.src}
        className="mx-auto relative"
      />
    </div>
  </div>
  <div class="col-span-7">
    <h1
      class="text-[80px] font-sans font-bold text-springBud leading-none mb-8"
    >
      {user.name}
    </h1>
    <ProfileDetails user={user} />
  </div>
</div>
