---
import Avatar from "./Avatar.astro";

const { isAvatarShowing = true } = Astro.props;
---

<div class="flex gap-4">
  {isAvatarShowing && <Avatar alt="A" size="72px" />}
  <div class="bg-licorice py-10 px-14 flex-1">
    <h2 class="font-sans font-bold text-2xl">Light Speed UI</h2>
    <p class="font-sans text-lg leading-normal">
      I'm building a component library in Figma
    </p>
  </div>
</div>
