---
import { getDateArray, getMonthName } from "../lib/dateHelpers";

const { date } = Astro.props;

const [day, month, year] = getDateArray(date);
---

<div class="flex items-center flex-col">
  <div
    class="uppercase text-[42px] font-sans font-bold text-white leading-none"
  >
    {getMonthName(month)}
  </div>
  <div class="text-springBud text-[155px] font-sans leading-none font-bold">
    {day}
  </div>
  <div class="text-white text-4xl font-sans font-bold">{year}</div>
</div>
