---
import Comment from "./Comment.astro";
import { default as CommentIcon } from "./Icons/Comment.astro";
import { CopyLink } from "./CopyLink";
import { EmojiCount } from "./EmojiCount";
import { EmojiPicker } from "./EmojiPicker";
import StackedDate from "./StackedDate.astro";
import Avatar from "./Avatar.astro";
import ProfileDetails from "./ProfileDetails.astro";
const { date, content, bio, reactions, id, isBioShowing = false } = Astro.props;

const { update } = Astro.props;
---

<!-- This component needs to be wrapped with a page-grid -->
<div class="col-start-2 col-span-3 mr-10 pr-10 border-r-3 border-r-codGray">
  <div class={`sticky top-5 ${isBioShowing ? "pb-20" : ""}`}>
    {update?.created_at && <StackedDate date={update.created_at} />}
  </div>
</div>
<div class="col-span-5 content">
  {update?.content && update.content}

  <div class="pt-8 mb-16">
    <Comment />
    <Comment />
    <button
      class="button with-icon bg-springBud text-black font-bold uppercase hover:bg-white hover:text-black"
    >
      <CommentIcon />
      Leave a Comment</button
    >
  </div>
</div>

<!-- emoji picker -->
<div class="col-span-2 text-center">
  <div class="grid grid-cols-2 gap-3 sticky top-10">
    <EmojiCount number={1} emoji="🙌" />
    <EmojiCount number={5} emoji="🦄" />
    <EmojiCount number={12} emoji="🚀" />
    <EmojiCount number={100} emoji="🩵" />
    <EmojiCount number={32} emoji="🤩" />
    <EmojiPicker client:only />
    <div class="col-span-2 pt-3">
      <CopyLink className="mx-auto" slug={`/update/${id}`} />
    </div>
  </div>
</div>

<!-- TODO: Address order of content -- seems strange to have update, comment, bio
  The bio should be closer to the person who wrote the update.
-->
{
  isBioShowing && (
    <div class="col-span-8 col-start-3 grid grid-cols-subgrid relative -top-10">
      <div class="col-span-2">
        <a href={`/profile/selfteachme`}>
          <Avatar
            alt="A"
            size="144px"
            src="https://picsum.photos/seed/1706285540310/300/300"
          />
        </a>
      </div>
      <div class="col-span-6 pt-5">
        <div class="font-6 font-sans font-bold mb-4 text-2xl">
          <a
            href={`/profile/selfteachme`}
            class="text-springBud hover:text-white"
          >
            Amy Dutton
          </a>
        </div>
        <ProfileDetails />
      </div>
    </div>
  )
}
